@import "tailwindcss";

@theme {
  --color-accent-1: #EE3524;
  --color-accent-2: #FFC800;
  --color-main: #000000;
  --color-gray-1: #727272;
  --color-gray-2: #CBCBCB;
  --color-gray-3: #F5F5F5;


  --font-ru-rail: var(--font-rurail), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}
/* 
h1{
  font-size: 70px;
  font-weight: 700;
  line-height: 92px;
}

h2{
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}

h3{
  font-size: 28px;
  font-weight: 600;
  line-height: 48px;
}

h4{
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

h5{
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

h6{
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
} */